
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap'); 

*{
    box-sizing: border-box;
}

body{
    background-color: #6782B4;
    font-family: 'Annie Use Your Telescope', cursive;
    margin:0;
    min-height: 100vh;
}
